@import "compass";
@import "font";
@import "mixin_module";
/* ttl
----------------------- */
.ttl--underline{
	@include font--yu_mincho;
	color: #333;
	font-size: 2.4rem;
	font-weight: 400;
	line-height: (40 / 24);
	text-align: center;
	&:after {
		content:"-";
		display: block;
		margin-top: 5px;
		width: 100%;
		text-align: center;
	}
}

/* btn
----------------------- */
%btn-basic {
	max-width:100%;
	width:100%;
	font-size: 1.7rem;
	&:after {
		right:15px;
	}
}
.btn--basic {
	@extend %btn-basic;
}

.btn--basic--black.inline-block {
	width:100%;
}
a.btn--basic--black,
.btn--basic--black a {
	width:86%;
	margin: 0 auto;
}

@mixin layout--2col-tablet{
	display: block;
	width: 100%;
	.col {
		display: block;
		vertical-align: middle;
		width:100%;
		.inner {
			width: 85%;
			margin: 45px auto;
		}
	}

	.ttl + .txt {
		margin-top: 28px;
	}
	.sp.col {
		display: block;
	}
}
.layout--2col {
	@include layout--2col-tablet;
}
.layout--2col--imgLeft {
	@include layout--2col-tablet;
	.col:first-child {
		text-align: left;
		.inner {
			display: block;
			width: 85%;
		}
	}
}
.layout--2col--imgRight  {
	@include layout--2col-tablet;
	.col:first-child {
		display: none;
	}
	.col + .col {
		.inner {
			margin-left: auto;
		}
	}
}
.layout--2col--ttl_and_text {
	width: 86%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 45px;
	.col {
		display: block;
		vertical-align: top;
		width: 100%;
	}
	.col + .col {
		width:100%;
	}
}
/* ===============================================
layout 4col
=============================================== */
.layout--4col {
	width: 86%;
	margin:0 auto;
	.col {
		display: table;
		table-layout: fixed;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		padding-bottom: 17px;
		margin-bottom: 17px;
		border-bottom: #d8d8d8 1px solid;
		.img {
			width: 100%;
			height: 100px;
		}
		.date,.ttl {
			text-align: left;
			display: table-cell;
			vertical-align: top;
		}
		.date {
			margin-top: 0;
			font-size: 1.4rem;
			width: 30%;
		}
		.ttl {
			font-size: 1.4rem;
			text-align: left;
			padding-left: 15px;
		}
	}
}
/* ===============================================
link
=============================================== */
.link--fullwidth {
	height: 135px;
	width: 100%;
	display: table;
	margin-top: 45px;
	.inner {
		a {
			margin: 0 auto;
			max-width: 85%;
		}
	}
}
