@import "compass";
@import "font";
@import "mixin_module";

$base_width:1045px;

@mixin base_width($base_width:$base_width){
	width:$base_width;
	margin: 0 auto;
}

/* ttl
----------------------- */
.ttl--underline{
	@include font--yu_mincho;
	color: #333;
	font-size: 2.8rem;
	font-weight: 400;
	letter-spacing: 1.4px;
	line-height: (40 / 28);
	text-align: left;
	&:after {
		content:"-";
		display: block;
		margin-top: 5px;
	}
}

.ttl--underline--center {
	@extend .ttl--underline;
	text-align: center;
	* {
		font-size: 2.8rem;
	}
	&:after {
		content:"-";
		display: block;
		margin-top: -9px;
	}
}

.ttl_sub {
	display: block;
	font-size: 2.0rem;
	font-weight: 400;
	line-height: 1.8;
}
/* btn
----------------------- */
.btn--basic {
	@include border-radius(3px);
	border-radius: 3px;
	border:solid 1px rgba(255, 255, 255, 50);
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0);
	width: 410px;
	height: 70px;
	position: relative;
	@include font--yu_mincho;
	color: #fff;
	font-size: 2.2rem;
	font-weight: 400;
	letter-spacing: 1.1px;
	line-height: 70px;
	text-align: center;
	display:block;

	&:after{
		font-family: FontAwesome;
		content:"\f105";
		font-size: 2.3rem;
		position: absolute;
		right:27px;
	}
	&:hover {
		color: #fff;
		text-decoration: none;
	}
}

%btn--basic--black {
	@extend .btn--basic;
	border-color: rgba(51, 51, 51, 50);
	background-color: rgba(255, 255, 255, 0);
	color: #333;
	@include transition(background-color .6s);
	&:hover {
		background-color: #666;
		color:#fff;
		text-decoration:none;
	}
}
a.btn--basic--black,
.btn--basic--black a {
	@extend %btn--basic--black;
}

@mixin layout--2col{
	display: table;
	table-layout: fixed;
	width: 100%;
	.col {
		display: table-cell;
		vertical-align: middle;
		width:50%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
	.col.img {
		img {
			@include opacity(0);
			max-width: 100%;
			height: auto;
		}
	}
	.txt {
		font-size: 1.4rem;
		font-weight: 400;
		letter-spacing: 0.7px;
		line-height: (24 / 14);
		text-align: left;
	}
	.ttl + .txt {
		margin-top: 30px;
	}
	.sp.col {
		display: none;
	}
}
.layout--2col {
	@include layout--2col;
}
.layout--2col--imgLeft {
	@include layout--2col;
	.col:first-child {
		text-align: right;
		.inner {
			width: 585px;
			display: inline-block;
			text-align: left;
		}
	}
}
.layout--2col--imgRight  {
	@include layout--2col;
	.col + .col {
		.inner {
			margin-left: 120px;
		}
	}
}

.layout--2col--ttl_and_text {
	@include layout--2col;
	@include base_width;
	margin-top: 100px;
	.col {
		vertical-align: top;
		width: 360px;
	}
	.col + .col {
		width:auto;
		color: #333;
		font-size: 1.4rem;
		font-weight: 400;
		letter-spacing: 0.35px;
		line-height: (24 / 14);
		text-align: left;
	}
}


/* ===============================================
layout 4col
=============================================== */
.layout--4col {
	width: 100%;
	font-size: 0;
	text-align: center;
	.col {
		display: inline-block;
		vertical-align: top;
		width: 248px;
		margin-left: 8px;
		margin-right: 8px;
		.img {
			width: 248px;
			height: 180px;
			background-position:center center;
			background-repeat: no-repeat;
			background-size: cover;
			@include transition(opacity .6s);
		}
		.date,.ttl {
			text-align: left;
		}
		.date {
			margin-top: 24px;
			color: #666666;
			font-size: 1.2rem;
			font-weight: 400;
			letter-spacing: 0.6px;
			line-height: 1.5;
			text-align: left;
		}
		.ttl {
			font-size: 1.3rem;
			font-weight: 400;
			letter-spacing: 0.65px;
			line-height: (23 / 13);
			text-align: left;
			text-decoration: underline;
			@include transition(color .6s);
		}
		a {
			&:hover {
				.ttl {
					color: #991f1f;
					text-decoration: none;
				}
				.img {
					@include opacity(0.7);
				}
			}
		}
	}
}

.layout--2col.by_ccm_layout {
	.col {
		height:100%;
	}
}
/* ===============================================
link
=============================================== */
.link--fullwidth {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 330px;
	width: 100%;
	display: table;
	.inner {
		display: table-cell;
		vertical-align: middle;
		a {
			margin: 0 auto;
		}
	}
}
/* ===============================================
img
=============================================== */
.img--fullwidth {
	@extend .link--fullwidth;
	img {
		@include opacity(0);
	}
}
