@mixin modules {
	.rollover-op:hover {
		filter: progid:DXImageTransfor.Microsoft.Alpha(Opacity=70);
		opacity: 0.7;
	}

	/* float
	------------------------------------- */
	.fr {
		float: right;
		display: inline;
		*zoom: 1;
	}
	.fl {
		float: left;
		display: inline;
		*zoom: 1;
	}
	.cl {
		clear: both;
	}

	/* margin
	------------------------------------- */
	.am {
		margin-right: auto;
		margin-left: auto;
		display: block;
	}

	.mt3 {
		margin-top: 3px !important;
	}
	@for $i from 0 through 20 {
		.mt#{$i * 5} {
			margin-top:#{$i * 5}px !important;
		}
	}

	.mb3 {
		margin-bottom: 3px !important;
	}
	@for $i from 0 through 20 {
		.mb#{$i * 5} {
			margin-bottom:#{$i * 5}px !important;
		}
	}
	.mb60 {
		margin-bottom: 60px !important;
	}
	.mb100 {
		margin-bottom: 100px !important;
	}

	.ml3 {
		margin-left: 3px !important;
	}
	@for $i from 0 through 20 {
		.ml#{$i * 5} {
			margin-left:#{$i * 5}px !important;
		}
	}

	.mr3 {
		margin-right: 3px !important;
	}
	@for $i from 0 through 20 {
		.mr#{$i * 5} {
			margin-right:#{$i * 5}px !important;
		}
	}

	/* padding
	------------------------------------- */
	// padding-left
	.pl3 {
		padding-left: 3px !important;
	}
	@for $i from 0 through 20 {
		.pl#{$i * 5} {
			padding-left:#{$i * 5}px !important;
		}
	}

	// padding-right
	.pr3 {
		padding-right: 3px !important;
	}
	@for $i from 0 through 20 {
		.pr#{$i * 5} {
			padding-right:#{$i * 5}px !important;
		}
	}

	// padding-top
	.pt3 {
		padding-top: 3px !important;
	}
	@for $i from 0 through 20 {
		.pt#{$i * 5} {
			padding-top:#{$i * 5}px !important;
		}
	}

	// padding-bottom
	.pb3 {
		padding-bottom: 3px !important;
	}
	@for $i from 0 through 20 {
		.pb#{$i * 5} {
			padding-bottom:#{$i * 5}px !important;
		}
	}


	/* font-size
	------------------------------------- */
	@for $i from 8 through 30 {
		.fs#{$i} {
			font-size:#{$i}px !important;
		}
	}
	.fs50 {
		font-size: 50px !important;
	}

	/* font-weight
	------------------------------------- */
	.bold {
		font-weight: bold;
	}
	.normal {
		font-weight: normal;
	}

	/* text-align
	------------------------------------- */
	.ac {
		text-align: center!important;
	}

	.al {
		text-align: left!important;
	}

	.ar {
		text-align: right!important;
	}

	.oh {
		overflow: hidden;
		position: relative;
		*zoom: 1;
	}
	.position_ab {
		position: absolute;
	}

	.fineindent {
		padding-left: 1em;
		text-indent: -1em;
	}

	.fineindent3 {
		padding-left: 2.5em;
		text-indent: -2.5em;
	}

	.red {
		color:#AA2912;
	}

	.pink{
		color:#DF6471;
	}

	.db {
		display: block;
	}

	.noborder {
		border:none!important;
	}

	//テキストを非表示
	.text-indent-none {
		text-indent: 100%;
		white-space: nowrap;
		display: block;
		overflow: hidden;
	}

	/*clearfix*/
	.clearfix:after{
		content:".";
		display: block;
		height:0px;
		clear:both;
		line-height:0;
		visibility:hidden;
	}
	.clearfix {
		*zoom:1;
	}

	.inline-block {
		display: inline-block;
	}
}
@mixin clearfix{
	&:after{
		content:".";
		display: block;
		height:0px;
		clear:both;
		line-height:0;
		visibility:hidden;
	}
}

@mixin rolloverop {
	&:hover {
		filter: progid:DXImageTransfor.Microsoft.Alpha(Opacity=70);
		opacity: 0.7;
	}
}
