
@for $i from 0 through 20 {
	.mt#{$i * 5} {
		margin-top:$i * 5 / 2 * 1px !important;
	}
}


@for $i from 0 through 20 {
	.mb#{$i * 5} {
		margin-bottom:$i * 5 / 2 * 1px !important;
	}
}


@for $i from 0 through 20 {
	.ml#{$i * 5} {
		margin-left:$i * 5 / 2 * 1px !important;
	}
}

@for $i from 0 through 20 {
	.mr#{$i * 5} {
		margin-right:$i * 5 / 2 * 1px !important;
	}
}

/* padding
------------------------------------- */
// padding-left

@for $i from 0 through 20 {
	.pl#{$i * 5} {
		padding-left:$i * 5 / 2 * 1px !important;
	}
}


@for $i from 0 through 20 {
	.pr#{$i * 5} {
		padding-right:$i * 5 / 2 * 1px !important;
	}
}

// padding-top
@for $i from 0 through 20 {
	.pt#{$i * 5} {
		padding-top:$i * 5 / 2 * 1px !important;
	}
}

// padding-bottom
@for $i from 0 through 20 {
	.pb#{$i * 5} {
		padding-bottom:$i * 5 / 2 * 1px !important;
	}
}
