@charset "UTF-8";
// # text adjust
$-webkit-text-size-adjust : false;

// # text
$base_font_size:16px;
//$font_size:100%;
$line_height:1.5;
$font_color:#333;

// link
$link_color:#333;
$link_hover_color:#333;
