@charset "UTF-8";
@import "compass";
@import "setting";
@import "font";
@import "mixin_reset";
@import "mixin_module";
@import "mixin_common";
/* **************************************************
Base
************************************************** */
@include reset;
@import 'components';
/* **************************************************
Layout
************************************************** */
.base_width {
	@include base_width;
}
.btn_sp_navi_wrap {
	display:none;
}
.header_wrapper {
	@include base_width;
	@extend .clearfix;
	display: table;
	table-layout: fixed;
	margin-top: 11px;
}
.header {
	display:table-cell;
	vertical-align: middle;
	width: 50%;
	.logo {
		span {
			@include text_indent_none();
			@include sprite_background_wh(logo);
		}
	}
}
.gnav {
	display:table-cell;
	vertical-align: middle;
	font-size: 1.2rem;
	font-weight: 400;
	letter-spacing: 0.36px;
	width:50%;
	text-align: right;
	li {
		display:inline-block;
		margin-left: 40px;
		position: relative;
		a {
			display:block;
			@include transition(color .6s);
			&:hover {
				color: #991f1f;
				text-decoration: underline;
			}
		}
	}
	.child {
		display:none;
		position: absolute;
		left:0;
		right:0;
		top:99%;
		margin:auto;
		padding-top: 15px;
		z-index: 3000;
		background-color: #fff;
		width: 150px;
		left: -80%;
		li {
			background-color: #fff;
			margin-left: 0;
			border-top: 1px solid #333333;
			border-bottom: 1px solid #333;
			margin-top: -1px;
			display: block;
			a {
				display:block;
				text-align: center;
				font-size: 1.2rem;
				line-height: 35px;
			}
		}
	}
}
/* ===============================================
footer
=============================================== */
#footer {
	.inner {
		background:#333;
		height: 60px;
		line-height: 60px;
		margin-top: 50px;
		small {
			display: block;
			width: 100%;
			text-align: center;
			color: #e6e6e6;
			font-size: 1.3rem;
			font-weight: 400;
			letter-spacing: 0.26px;
			line-height: 60px;
		}
	}
}
#totop {
	position: fixed;
	right: 30px;
	bottom: 30px;
	display: none;
	a {
		border: solid 1px #d8d8d8;
		box-sizing: border-box;
		background-color: #fff;
		width: 44px;
		height: 44px;
		display: block;
		line-height: 44px;
		text-align: center;
		font-size: 2.2rem;
	}
}
/* ===============================================
slide
=============================================== */
.slide {
	margin-top: 10px;
	position: relative;
	.slide_text {
		margin: auto;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		position: absolute;
		z-index:3000;
	}
	li {
		@extend .clearfix;
		width: 100%;
		.half {
			background-size: cover;
			background-repeat: none;
			background-position: center center;
			width: 50%;
			float: left;
			img {
				@include opacity(0);
				max-width: 100%;
				height: auto;
			}
		}
	}
}
.bx-wrapper {
	border: none;
	box-shadow: none;
	margin:0;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background-color: rgba(255, 255, 255, 0.5);
	width: 27px;
	height: 5px;
	@include border-radius(0);
	&:hover, &.active, &:focus {
		background-color: #ffffff;
		width: 27px;
		height: 5px;
	}
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: 15px;
	width: 100%;
}
/* ===============================================
top
=============================================== */
#top__about {
	.link {
		background: url(../images/top_img_03.png) no-repeat left top;
		background-size: cover;
		height: 330px;
		width: 100%;
		display: table;
		.inner {
			display: table-cell;
			vertical-align: middle;
			a {
				margin: 0 auto;
			}
		}
	}
}
#news {
	padding:60px 0;
	.layout--4col {
		margin-top: 30px;
	}
	.btn--basic--black {
		margin: 50px auto 0;
	}
	border-bottom: 1px solid #d8d8d8;
	margin-bottom: 60px;
}
#map {
	margin-top: 30px;
	width: 100%;
	height: 300px;
}
.footer_info {
	text-align: center;
	font-size: 0;
	margin-top: 25px;
	.inner {
		display: inline-block;
		width: 500px;
		vertical-align: top;
		margin:0 19px;
	}
}
.table_wrap {
	display: table;
	table-layout: fixed;
	width: 100%;
	.table_wrap__row {
		display: table-row;
	}
	.th {
		width: 85px;
	}
	.th,.td {
		display: table-cell;
		font-size: 1.3rem;
		font-weight: 400;
		letter-spacing: 0.65px;
		line-height: 1.5;
		text-align: left;
		vertical-align: top;
		padding:16px 0;
		border-bottom: 1px solid #d8d8d8;
	}
}
/* ===============================================
lower
=============================================== */
.lower_mv {
	background-position:center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 176px;
	display: table;
	width: 100%;
	margin-top: 10px;
	.ttl {
		@include font--yu_mincho;
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		color: #fff;
		font-size: 4.0rem;
		font-weight: 400;
		letter-spacing: 3px;
		line-height: 1;
		text-align: center;
	}
}
.lower {
	#shop {
		margin-top: 60px;
	}
}

/* ===============================================
CMS,editor
=============================================== */
.fullwidth {
	width: 100%;
	height: auto;
	img {
		width: 100%;
		height: auto;
	}
}
.small_text {
	color: #666;
	font-size: 1.1rem;
	font-weight: 400;
	letter-spacing: 0.55px;
	line-height: (18 / 11);
	text-align: left;
}

.layout--2col.by_ccm_layout {
	.col {
		& > * {
			height: 100%;
		}
	}
	#map {
		margin-top: 0;
		width: 100%;
		height: 100%;
	}
}

/* **************************************************
Modules
************************************************** */
@include modules;
@import 'responsive'
