@import "font";
.pc {
	display: none;
}
.sp {
	display: block;
}
#responsive_flg {
	display: block;
	position: absolute;
	left:-9999px;
}
body {
	-webkit-text-size-adjust: none;
	//overflow-x: hidden;
	min-width: 320px;
}
body,div,p,h1,h2,h3,h4,h5,li,a,ul,li,dl,dt,dd,#wrap,header,footer,article,section,aside{
	box-sizing:border-box;
}
.base_width {
	max-width:100%;
}

/* ===============================================
header
=============================================== */
.header_wrapper {
	width: 100%;
	display: block;
	margin: 0;
	height: 55px;
	.header {
		padding-top: 11px;
	}
	.logo {
		margin-left: 11px;
		span {
			@include text_indent_none();
			@include sprite_background_retina(logo_sp);
		}
	}
}
.gnav {
	display: none;
}
/* ===============================================
spnav
=============================================== */
#spnavi {
	overflow: hidden;
	background: #fff;
	width: 100%;
	position: absolute;
	z-index: 3001;
	top: 55px;
	left:0;
	display:none;
}
.btn_sp_navi,.btn_sp_navi_wrap {
	display: inline-block;
}
.btn_sp_navi_wrap {
	box-sizing: border-box;
	width: 55px;
	height: 55px;
	background-color: #333333;
	position: absolute;
	right:0;
	top:0;
}
.btn_sp_navi {
	display: inline-block;
	position: relative;
	width: 55px;
	height: 55px;
	background-color: #333333;

	@include transition(all .4s);
	span.bar {
		display: inline-block;
		@include transition(all .4s);
		box-sizing: border-box;
		position: absolute;
		width: 60%;
		height: 2px;
		left:0;
		right:0;
		margin: auto;
		background-color: #fff;
		&:nth-of-type(1) {
			top: 10px;
		}
		&:nth-of-type(2) {
			top: 22px;
		}
		&:nth-of-type(3) {
			top: 34px;
		}
	}

	.text {
		color: #fff;
		@include font--hirakaku();
		font-size: 11px; /* フォント置換による類似 */
		line-height: 1; /* フォント置換による類似 */
		text-align: center;
		width: 100%;
		left:0;
		right:0;
		bottom:4px;
		margin:auto;
		position: absolute;
		font-weight:700;
	}

	&.active {
		span.bar {
			background-color: #333;
		}
		background-color: #d8d8d8;
		.text {
			display:none;
		}
		.text--active {
			@extend .text;
			color: #333;
			display:block;
		}

	}
}
.btn_sp_navi.active span.bar {
	&:nth-of-type(1) {
		@include transform(translateY(12px) rotate(-45deg));
	}
	&:nth-of-type(2) {
		opacity: 0;
	}
	&:nth-of-type(3) {
		@include transform(translateY(-12px) rotate(45deg));
	}

}
%carret {
	font-family: FontAwesome;
	content:"\f105";
	display: block;
	margin: auto;
	right: 25px;
	top: 50%;
	margin-top: -2.5rem;
	position: absolute;
	font-size: 3rem;
}
#scroller,#footer .spnavi{
	padding-bottom: 80px;
	& > ul > li {
		background: #333;
		border-bottom: 1px solid #fff;
		& > a {
			display: block;
			padding: 25px;
			position: relative;
			background: #333;
			color: #fff;
			font-weight: 700;
			&:after {
				@extend %carret;
			}
		}
	}
	.child {
		display: none;
		li + li {
			border-top: 1px solid #d8d8d8;
		}
		a {
			padding: 25px;
			position: relative;
			background: #fff;
			color: #333;
			display: block;
			&:after {
				@extend %carret;
				color: #333;
			}
		}
	}
	li.has_child {
		& > a:after {
			display:none;
		}
	}
}

.accordion_icon_wrap {
	background: #d8d8d8;
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	@include border-radius(30px);
	right: 13px;
	top: 18px;
}

.accordion_icon {
	display: inline-block;
	transition: all .4s;
	box-sizing: border-box;
	position: absolute;
	left: 4px;
	top: 13px;
	span {
		display: inline-block;
		transition: all .4s;
		box-sizing: border-box;
		position: absolute;
		left: 6px;
		width: 50%;
		height: 3px;
		background: #333;
		@include border-radius(4px);
		&:nth-of-type(1) {
			top: 5px;
			@include transform(rotate(0deg));
		}
		&:nth-of-type(2) {
			top: 5px;
			@include transform(rotate(90deg));
		}
	}
	width: 40px;
	height: 40px;
}
.active {
	.accordion_icon span {
		&:nth-of-type(1) {
			display: none;
		}
		&:nth-of-type(2) {
			top: 5px;
			@include transform(rotate(180deg));
		}
	}
}
/* ===============================================
#footer
=============================================== */
#footer {
	.spnavi {
		padding-bottom: 0;
	}
	.inner {
		margin-top: 0;
		small {
			font-size: 1.1rem;
		}
	}
}
#totop {
	position: static;
	margin-top: 50px;
	a {
		display: block;
		width: 100%;
		height: 55px;
		line-height: 55px;
		text-align: center;
		background:#d8d8d8;
		font-size: 2.2rem;
	}
}
/* ===============================================
slide
=============================================== */
.slide {
	max-height: 450px;
	margin-top: 0;
	.slide_text {
		max-height: 350px;
		width: auto;
	}
	li img {
		min-height: 450px;
		width: auto;
	}
}

/* ===============================================
top
=============================================== */
#top__about {
	.link {
		margin-top: -45px;
		height: 135px;
		width: 100%;
		display: table;
		.inner {
			a {
				margin: 0 auto;
				max-width: 85%;
			}
		}
	}
}
#news {
	padding:30px 0;
	.layout--4col {
		margin-top: 14px;
		.img {
			display: none;
		}
	}
	.btn--basic--black {
		margin: 25px auto 0;
		width: 86%;
	}
	margin-bottom: 30px;
}
#map {
	margin-top: 30px;
	width: 100%;
	height: 200px;
}
.footer_info {
	text-align: center;
	font-size: 0;
	margin-top: 25px;
	.inner {
		width: 86%;
		margin:0 auto;
	}
}
/* ===============================================
lower
=============================================== */
.lower_mv {
	height: 125px;
	margin-top: 0;
	.ttl {
		@include font--yu_mincho;
		font-size: 2.8rem;
	}
}
.lower {
	#shop {
		margin-top: 30px;
	}
	#footer {
		margin-top: 30px;
	}
}
/* ===============================================
CMS,editor
=============================================== */
.responsive--1col {
	width:86%;
	div.ccm-layout-column {
		width: 100%!important;
		float: none;
	}
}
.layout--2col.by_ccm_layout {
	img {
		max-width:100%;
		height: auto;
	}
	#map {
		width: 100%;
		height: 200px;
	}
}
