extends layout.pug
block slug
	- slug = 'lower'
block contents
	.lower_mv(style=`background-image:url(${assets_prefix}images/concept_mv_img.png);`)
		h1.ttl Concept
	.layout--2col--ttl_and_text
		.col
			h3.ttl.ttl--underline ごあいさつ
		.col
			p
				| かづらせい寺町店は、時代やジャンル、アジアやヨーロッパなど文化の枠を越えた品々が集う、骨董品店です。<br>
				| <br>
				| 自ら世界中を巡り、現地にて直接買い付けたコレクションが店内を彩ります。<br>
				| <br>
				| 今では作ることのできない、時代のアルチザン達が残したヘリテージの美術品、そして時を経て美しく昇華した骨董の数々。<br>
				| <br>
				| すべての商品は、独自の視点と感性に基づき『趣があり、美しく、ユニークで、愛すべき』もののみをセレクト。<br>
				| <br>
				| いにしえの名品に新たな息吹を吹き込むべく、現代のライフスタイルを豊かにする上質なコーディネートのご提案をしております。<br>
				| <br>
				| かづらせい寺町店で、一期一会の出逢いお愉しみ頂ければ幸いに存じます。
			p.bold.fs18.font--yu_mincho.mt40 五代目当主　霜降 茂夫
	p.mt80
		img(src=`${assets_prefix}images/concept_img_01.png`, alt="").fullwidth
	.layout--2col--ttl_and_text
		.col
			h3.ttl.ttl--underline Message
		.col
			p
				| Since its foundation in 1865, Kazurasei has been offering classical hair goods for women, such as<br>
				| camellia oil and boxwood combs, Tsugegushi, both for keeping the hair beauty, and ornamental hair accessories, Kanzashi, for adding to the charm of the hair in finely up do.<br>
				| Through changing times, those products fusing traditional elegance and modernity have been created by our unique sense and skills.
			p.bold.fs18.font--yu_mincho.mt40 Shigeo Shimohuri
	.link--fullwidth.link(style=`background-image:url(${assets_prefix}images/concept_img_02.png);`)
		.inner
			a(href="#").btn--basic 商品を見る
