extends layout.pug
block slug
	- slug = 'home'
block contents
	.slide
		img(src=`${assets_prefix}images/top_mv_text_00f.png`, alt="").slide_text
		ul
			li
				.half.half1(style=`background-image:url(${assets_prefix}images/top_mv_img_01.png);`)
					img(src=`${assets_prefix}images/top_mv_img_01.png`, alt="")
				.half.half2(style=`background-image:url(${assets_prefix}images/top_mv_img_02.png);`)
					img(src=`${assets_prefix}images/top_mv_img_02.png`, alt="")
			li
				.half.half1(style=`background-image:url(${assets_prefix}images/top_mv_img_01.png);`)
					img(src=`${assets_prefix}images/top_mv_img_01.png`, alt="")
				.half.half2(style=`background-image:url(${assets_prefix}images/top_mv_img_02.png);`)
					img(src=`${assets_prefix}images/top_mv_img_02.png`, alt="")
			li
				.half.half1(style=`background-image:url(${assets_prefix}images/top_mv_img_01.png);`)
					img(src=`${assets_prefix}images/top_mv_img_01.png`, alt="")
				.half.half2(style=`background-image:url(${assets_prefix}images/top_mv_img_02.png);`)
					img(src=`${assets_prefix}images/top_mv_img_02.png`, alt="")
			li
				.half.half1(style=`background-image:url(${assets_prefix}images/top_mv_img_01.png);`)
					img(src=`${assets_prefix}images/top_mv_img_01.png`, alt="")
				.half.half2(style=`background-image:url(${assets_prefix}images/top_mv_img_02.png);`)
					img(src=`${assets_prefix}images/top_mv_img_02.png`, alt="")
	section#top__about
		.layout--2col--imgLeft
			.col
				.inner
					h2.ttl.ttl--underline 店内を散歩しながら<br>お気に入りを見つける
					.txt
						p 京都御所に近い閑静なエリア。<br>
						| 骨董店が軒を連ねる寺町通に佇むかづら清寺町店は<br>
						| 2000年にオープンしました。<br><br>
						| 心地よく光の差し込むConcrete打ちっぱなしの店内を、<br>
						| かづら清店主ならではの視点で選びぬかれた品々が彩ります。
			.col(style=`background-image:url(${assets_prefix}images/top_img_01.png);`).img
				.inner
					img(src=`${assets_prefix}images/top_img_01.png`, alt="")
		.layout--2col--imgRight
			.col(style=`background-image:url(${assets_prefix}images/top_img_02.png);`).img
				.inner
					img(src=`${assets_prefix}images/top_img_02.png`, alt="")
			.col
				.inner
					.txt
						p 洋の東西を問わず幅広く集められたアンティークの数々は、<br>
						| 中国・清朝時代の家具からアジア各地の心和む小物類、<br>
						| 更には華やかなヨーロッパの美術工芸品まで、<br>
						| 組み合わせの妙をご提案いたします。<br>
						| <br>
						| 心の赴くままに店内の散歩をお楽しみ頂き、<br>
						| 新しい出会いを感じて頂けましたらと思います。<br>
		.link
			.inner
				a(href="#").btn--basic かづらせい 寺町店 について
	section#news
		h2.ttl--underline--center News
		.layout--4col
			.col
				a(href="#")
					.img(style=`background-image:url(${assets_prefix}images/top_img_04.png);`)
					p.date 2015/11/09
					h3.ttl デコの灯りと花のうつわ　開催のお知らせ
			.col
				a(href="#")
					.img(style=`background-image:url(${assets_prefix}images/top_img_05.png);`)
					p.date 2015/11/09
					h3.ttl 新商品入荷のご案内
			.col
				a(href="#")
					.img(style=`background-image:url(${assets_prefix}images/top_img_06.png);`)
					p.date 2015/11/09
					h3.ttl 新商品入荷のご案内
			.col
				a(href="#")
					.img(style=`background-image:url(${assets_prefix}images/top_img_07.png);`)
					p.date 2015/11/09
					h3.ttl 新商品入荷のご案内
		a(href="#").btn--basic--black ニュース一覧を見る

