-
	var ogp = {
		'title':'test',
		'description':'test',
		'url':'test',
		'image':'test',
		'siteName':'test',
		'lang':'test',
		'fbid':'test',
		'fbid':'test'
	}
-
	var meta = {
		title:'ページタイトル',
		desc:'ディスクリプション',
		key:'キーワード'
	}
include _inc_mixins
include _inc_conditional
block slug
	- var slug = ''
	- var is_contact = false
head
	block meta_data
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(charset='UTF-8')
		meta#viewport(content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=5.0,user-scalable=1', name='viewport')
		+base_meta(meta)
		+ogp(ogp)
	block css
		include _inc_css
body#top(class=slug)
	#wrap
		nav#spnavi.spnavi.sp
			#scroller
				include _inc_gnav
		.btn_sp_navi_wrap
			a.btn_sp_navi.nosc.nosms(href='#sp')
				span.bar
				span.bar
				span.bar
				span.text Menu
				span.text--active Close
		block header
			.header_wrapper
				header#header.header
					h1.logo
						span かづらせい
				nav.gnav
					include _inc_gnav
		block contents
			h2.ttl--underline 店内を散歩しながら<br>お気に入りを見つける
			.div(style="background:#000;")
				a(href="").btn--basic かづらせい 寺町店 について
			p
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
				| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		block footer
			section#shop
				h2.ttl--underline--center Shop
				#map
				.footer_info
					.inner
						.table_wrap
							.table_wrap__row
								h4.th 所在地
								.td
									p 〒604-0995京都府京都市中京区下御霊前町638-1
							.table_wrap__row
								h4.th 営業時間
								.td
									p 10:30～18:30（水曜定休、年末年始のみ休業）
							.table_wrap__row
								h4.th 交通手段
								.td
									p ・京都市バス『河原町丸太町』下車、徒歩3分<br>・京阪電車『神宮丸太町駅』下車、徒歩5分<br>・地下鉄烏丸線『丸太町駅』下車、徒歩8分
					.inner
						.table_wrap
							.table_wrap__row
								h4.th 電話
								.td
									p 075-253-2525
							.table_wrap__row
								h4.th Fax
								.td
									p 075-253-2552
							.table_wrap__row
								h4.th E-mail
								.td
									p
										a(href="") お問い合わせフォーム
										| よりご連絡ください。

			#footer
				#totop
					a(href="#top")
						i.fa.fa-angle-up(aria-hidden='true')
				nav.spnavi.sp
					include _inc_gnav
				.inner
					p
						small Copyright (C) KAZURASEI. All rights reserved.
		block flg
			#responsive_flg
	block scripts
		include _inc_scripts

</html>
